
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="POST" action="/Species/Add">
    
    <div>
       <span>SPECIES NAME:</span>
       <input id="speciesName" type="text" name="speciesName" />
    </div>
    <div>
       <input type="submit" value="Add species">
    </div>
</form>