@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<a href= "/Species/List">BACK TO LIST</a>
<br/><br/>
<a href="/species/update/@Model.SpeciesID">UPDATE</a>

<div>Name : @Model.Name</div>
